<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Fragment #1 : Header files contains css references -->
    <head th:fragment="headerfiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/styles.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/responsive_table.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/tooltip.css}" type="text/css">

    </head>
    <body>

        <!-- Fragment #2 : Navbar contains nav links -->
        <div th:fragment="nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" th:href="@{~/}">BMS</a>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <div>
                                <span th:if="${ session.user }">
                                        <a class="nav-link"  th:href="@{~/User/home}"><i class="fa fa-home"></i>Accueil</a>                                    </span>
                                </span>
                                <span th:unless="${ session.user }">
                                      <a class="nav-link"  th:href="@{~/}"><i class="fa fa-home"></i>Accueil</a>
                                </span>
                            </div>

                        </li>
                        <span th:if="${ session.user }">
                            <span th:if="${ session.user.role == 'USER' }">
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Mon profil
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" href="#" >Mes informations personnelles</a>
                                            <a class="dropdown-item" th:href="@{~/UserLoans}">Mes emprunts</a>
                                            <a class="dropdown-item" th:href="@{~/UserBookings}">Mes réservations</a>
                                        </div>
                                    </div>
                                </li>
                            </span>
                        </span>
                        <span th:if="${ session.user }">
                            <span th:if="${ session.user.role == 'ADMIN' }">
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" th:href="@{~/Loans}" > Prêts en cours</a>
                                            <a class="dropdown-item" th:href="@{~/Delays}"> Retards</a>
                                        </div>
                                    </div>
                                </li>
                            </span>
                        </span>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recherche
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                    <a class="dropdown-item" th:href="@{~/Libraries}" >Librairies</a>
                                    <a class="dropdown-item" th:href="@{~/Research}">Catalogue ouvrages</a>
                                </div>
                            </div>

                        </li>

                    </ul>
                    <a th:href="@{~/Logout}"><button th:if="${ session.user }"  class="btn btn-secondary" type="submit">Logout</button></a>
                    <a th:href="@{~/Login}"><button th:unless="${ session.user }"  class="btn btn-secondary" type="submit">Login</button></a>

                </div>
            </nav>
        </div>

        <!-- Fragment #3 : Scripts fragment -->
        <div th:fragment="script">
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js}"></script>
        </div>

    </body>
</html>