<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Résultats</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>
        <div class="container-fluid">

            <div class="row justify-content-center"  style="margin:0 auto;min-height: 90vh;">

                <main class="col-sm-8 bd-content" style="margin:0 auto;">
                    <br/><br/><p class="text-center"> <b>Résultat de la recherche :</b> </p><br/>
                    <div  th:each=" entry : ${session.publicationsBookingsCopies}">
                        <ul class="list-group">
                            <li class="list-group-item" style="border-width: 0px 0px 1px 0px;border-radius:0;">
                                <a style="text-decoration: none" th:href="@{ ~/Publication(id=${entry.key.id})}" th:text="${entry.key.title}"></a>

                                <div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="border-top-0" style="width: 450px;">
                                                    <span th:if="${entry.key.author}"><small th:text="${entry.key.author.firstname}"></small> <small th:text="${entry.key.author.lastname}"></small><br/></span>
                                                    <span th:if="${entry.key.editor}"><small th:text="${entry.key.editor.name}"></small><br/></span>
                                                    <span th:if="${entry.key.category == 'BOOK'}"><small>Date de publication :</small></span>
                                                    <span th:unless="${entry.key.category == 'BOOK'}"><small>Date de parution :</small></span>
                                                    <span><small  th:text="${#temporals.format(entry.key.publicationDate, 'dd-MM-yyyy')}"></small></span><br/><br/>

                                                    <span th:if="${ session.user != null }">
                                                         <span th:if="${ entry.key.nbOfAvailableCopies == 0 } ">
                                                             <span><small>Nombre de réservations : <span th:text="${ entry.value.nbBookings }"></span></small></br></span>
                                                          <span><small>Date de retour la plus proche : <span th:text="${ entry.value.copies.get(0).returnDate }"></span></small></br></span>
                                                        </span>
                                                    </span>

                                                </td>
                                                <td class="border-top-0">
                                                    <span th:if="${ session.user != null }">

                                                                <span th:if="${ entry.key.nbOfAvailableCopies == 0 && entry.value.nbBookings < 2 * entry.key.nbTotalOfcopies } ">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="border-top-0"><button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm"><a th:href="@{~/Booking(idp=${entry.key.id},idm=${ session.user.id })}">Réserver</a></button>
                                                                                <br/><br/><div  class="error" th:if="${ session.errorBooking }" th:utext="${ session.errorBooking  + '<br/>' + 'un exemplaire de cette ouvrage.' } " ></div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </span>

                                                                 <span th:unless="${ entry.value.nbBookings < 2 * entry.key.nbTotalOfcopies }" class="aTooltip">
                                                                     <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="border-top-0"><button type="button" disabled class="btn btn-outline-secondary my-2 my-sm-0 btn-sm aTooltip">Réserver</button></td>
                                                                            </tr>
                                                                        </tbody>
                                                                           <div class="aTooltiptext text-danger" style="left:90vh;"><small>La liste de réservation est complète.</small></div>
                                                                    </table>
                                                                 </span>
                                                    </span>

                                                </td>
                                                <td class="border-top-0">
                                                    <span  class="aTooltip">
                                                        <span th:if="${ entry.key.nbOfAvailableCopies > 0 }">
                                                            <img th:src="@{/img/green.png}" style="float:right" /><br/>
                                                        </span>
                                                        <span th:unless="${ entry.key.nbOfAvailableCopies > 0 }">
                                                            <img th:src="@{/img/red.png}" style="float:right" /><br/>
                                                        </span>
                                                        <span class="aTooltiptext" style="left: 100vh">
                                                            <small><span th:text=" ${ entry.key.nbOfAvailableCopies } "></span> exemplaire(s) disponible(s)</small>
                                                            <div th:each="copy : ${ entry.key.copies } ">
                                                                <span th:if="${ copy.isAvailable() }">
                                                                <small>-<span th:text=" ${ copy.library.name }"></span></small></span>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </li>
                        </ul>
                    </div>
                </main>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="extendeModal" tabindex="-1" role="dialog" aria-labelledby="extendModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Réservation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Réservation validée.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
        <div th:insert="fragments/fragments.html :: script"></div>
        <script th:inline="javascript">

            var booking =[[${booking}]];

            $(document).ready(function(){
                console.log(booking);
                if( booking === true) {
                    $('#extendeModal').modal('show');
                    console.log(booking);
                }
            });
        </script>

    </body>
</html>