<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Emprunts</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <div class="container-fluid">
            <div class="row justify-content-center" style="margin:0 auto;min-height: 90vh;">
                <div class="responsive-table-line" style="margin:0px auto;max-width:1500px;"><br/><br/>
                    <p class="text-center"><b>Mes emprunts :</b></p><br/>
                    <table class="table" style="border: 1px solid #DDD;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Parution/Publication</th>
                                <th scope="col">Date d'emprunt</th>
                                <th scope="col">Date de retour</th>
                                <th scope="col">Prolongation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" loan : ${loans}">
                                <td th:text="${loan.copy.publication.title}"></td>
                                <td th:text="${loan.copy.publication.publicationDate}"></td>
                                <td th:text="${#temporals.format(loan.loanDate, 'dd-MM-yyyy')}"></td>
                                <td class="aTooltip">
                                        <span th:if="${loan.returnDate < toDay}">
                                            <span  th:text="${#temporals.format(loan.returnDate, 'dd-MM-yyyy')}" style="color: red"></span>
                                            <span class="aTooltiptext text-danger" style=""><small>Veuillez retourner vos emprunts en retard dans les plus brefs délais</small></span>
                                        </span>
                                        <span th:unless="${loan.returnDate < toDay}">
                                            <span th:text="${#temporals.format(loan.returnDate, 'dd-MM-yyyy')}"></span>
                                        </span>
                                </td>
                                <td >
                                    <span th:if="${loan.extented}">Effectuée</span>
                                    <span  th:unless="${loan.extented}">
                                        <span th:if="${loan.returnDate > toDay}">
                                            <a th:href="@{~/Extends(id=${loan.id})}" >
                                                <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm">Prolonger</button>
                                            </a>
                                        </span>
                                        <span  th:unless="${loan.returnDate > toDay}">
                                                <button type="button" class="btn btn-outline-secondary my-2 my-sm-0 btn-sm" data-toggle="modal" data-target="#extendeModal">Prolonger</button>
                                        </span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="extendeModal" tabindex="-1" role="dialog" aria-labelledby="extendModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Prolongation impossible</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Vous ne pouvez pas prolonger un emprunt pour lequel vous avez du retard.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
        <div th:insert="fragments/fragments.html :: script"></div>
    </body>
</html>