<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Réservations</title>
    </head>
    <body>
    <div th:insert="fragments/fragments.html :: nav"></div>
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin:0 auto;min-height: 90vh;">
            <div class="responsive-table-line" style="margin:0px auto;max-width:1500px;"><br/><br/>
                <p class="text-center"><b>Mes réservations :</b></p><br/>
                <table class="table" style="border: 1px solid #DDD;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de réservation</th>
                        <th scope="col">Position dans la liste</th>
                        <th scope="col">Date de retour</th>
                        <th scope="col">Annuler</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each=" entry : ${bookingCopies}">
                        <td th:text="${entry.key.publication.title}"></td>
                        <td th:text="${entry.key.bookingDate}"></td>
                        <td th:text="${entry.key.position}"></td>
                        <td th:text="${entry.value.get(0).returnDate}"></td>
                        <td>
                            <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm"><a th:href="@{ ~/Booking/delete( idb=${ entry.key.id } ) }">Annuler</a></button></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
            <div class="modal fade" id="extendeModal" tabindex="-1" role="dialog" aria-labelledby="extendModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Annulation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Annulation effectuée.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

    <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
    <div th:insert="fragments/fragments.html :: script"></div>
    <script th:inline="javascript">

       //var cancellation =[[${session.cancellation}]];
       var cancellation =[[${cancellation}]];

        $(document).ready(function(){
            console.log(cancellation);
            if( cancellation === true) {
                $('#extendeModal').modal('show');
                console.log(cancellation);

            }
        });
    </script>
    </body>
</html>

