<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sending Email with Thymeleaf HTML Template Example</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <!-- use the font -->
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;">

        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr>
                <td align="center" bgcolor="#5D6D7E" style="padding: 40px 0 30px 0;">
                    <img src="img/BMS.jpg" style="display: block;" />
                    <!--img src="cid:logo.jpg" style="display: block;" /-->
                </td>
            </tr>
            <tr>
                <td bgcolor="#F2F3F4 " style="padding: 40px 30px 40px 30px;">

                    <p>Bonjour  <span th:text="${name}"/>,<br/><br/>

                        <br/>L'ouvrage que vous avez reservé est disponible.
                        Nous vous invitons à vous présenter à l'accueil muni de votre carte abonné pour emprunter l'ouvrage suivant :<br/><br/>

                        Titre : <span th:text="${copy.publication.title}"/><br/>
                        Code :<span th:text="${copy.barcode}"/>
                    </p>

                </td>
            </tr>
            <tr>
                <td bgcolor="#5D6D7E" style="padding: 30px 30px 30px 30px;">
                    <p><b>Ceci est un rappel automatique, veuillez ne pas répondre à cet email.</b></p>
                </td>
            </tr>
        </table>
    </body>
</html>