<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sending Email with Thymeleaf HTML Template Example</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <!-- use the font -->
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;">

        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr>
                <td align="center" bgcolor="#5D6D7E" style="padding: 40px 0 30px 0;">
                    <!--img src="img/BMS.jpg" style="display: block;" /-->
                    <!--img src="cid:logo.jpg" style="display: block;" /-->
                </td>
            </tr>
            <tr>
                <td bgcolor="#F2F3F4 " style="padding: 40px 30px 40px 30px;">

                    <p>Bonjour,<br/>

                        <br/>Nous vous remercions de bien vouloir rapporter au plus vite ce(s) ouvrages(s) dans l'une des bibliothèques municipales de Strasbourg.
                        <!--br/><b>Nom de l'abonnée :</b> <span th:text="${name}"/>
                        <br/><b>N° de l'abonnée </b> <span th:text="${userNb}"/></p-->

                    <p th:each="loan : ${loans}">
                        <br/><b>Titre :</b> <span th:text="${loan.copy.publication.title}"></span>
                        <br/><b>N° de l'ouvrage :</b> <span th:text="${loan.copy.publication.identificationNb}"></span>
                        <!--br/><b>Echéance :</b> <span th:text="${#temporals.format(loan.returnDate, 'dd-MM-yyyy')}"></span></p-->
                        <br/><b>Echéance :</b> <span th:text="${loan.returnDate}"></span></p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#5D6D7E" style="padding: 30px 30px 30px 30px;">
                    <p><b>Ceci est un rappel automatique, veuillez ne pas répondre à cet email.</b></p>
                </td>
            </tr>
        </table>
    </body>
</html>